<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="mt-10 text-center text-5xl font-bold text-indigo-900">E-COMERCE FAKE STORE</h1>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
        <div class="mt-2">
          <input id="username" name="username" formControlName="username" type="text" autocomplete="username" required
            class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            
              @if (username?.invalid && (username?.dirty || username?.touched)) {
                <div class="my-2">
                @if (username?.errors?.['required']) {
                  <small class="text-red-600">El usuario esta incorrecto</small>
                }
                @if (username?.errors?.['maxlength']) {
                  <small class="text-red-600">El maximo de caracteres permitidos son 12</small>
                }
                @if (username?.errors?.['minlength']) {
                  <small class="text-red-600">El minimo de caracteres permitido es 5</small>
                }
              </div>
              }
            
          </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>

        </div>
        <div class="mt-2">
          <input id="password" name="password" formControlName="password" type="password" autocomplete="current-password" required
            class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <div>
            @if (password?.invalid && (password?.dirty || password?.touched)) {
              @if (password?.errors?.['required']) {
                <small class="text-red-600">La contraseña es obligatoria</small>
              }
              @if (password?.errors?.['minlength']) {
                <small  class="text-red-600">La contraseña debe tener al menos 6 caracteres</small>
              }
            }
              
            
          </div>
        </div>
      </div>

      <div>
        <button type="submit" [disabled]="loginForm.invalid"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
          in</button>
      </div>
    </form>

  </div>
</div>